$primaryColor: #07003B;
$discountColor:  #FF027E;
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow-x: hidden;
}

 a {
    text-decoration: none;
 }

ul {
    list-style: none;
    padding: 0;
}

@mixin flexbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}